# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Virtual environment
.env/
.venv/
.Log/

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Log files
*.log

# JSON reports
*.json
